.git
.github
.husky
backend-cli
db_declarative
src
templates
web-docs
bin
eslint-rules
*.log
node_modules
.nyc_output
coverage
.cache
dist
build
.DS_Store
*.tgz
*.tar.gz
package-lock.json
yarn.lock
bun.lock
.prettierignore
.prettierrc
eslint.config.js
commitlint.config.js
tsconfig.json
tsconfig.tsbuildinfo